@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #1d1c1c;
    font-family: 'Roboto';
}

.homePage{
    padding: 0 20% 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    background: #101010;
    flex-direction: column;
}

.firstSection{
    width: 100%;
    height: 100vh;
    background:#101010;
}

.navBar {
    background-color: #101010;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 20% 0;
    z-index: 17;
    transition: opacity 2s, top 0.3s ease-in-out;
}

.navBar-hidden{
    opacity: 0;
}

.navBar-scroll {
    top: -70px;
}

/* Links style */
.linkLeft a, .linkRight a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: all 0.5s;
}

.linkLeft a:hover, .linkRight a:hover{
    color: #adb5bd;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

/* Links position */
.linkLeft, .linkRight{
    display: flex;
    gap: 30px;
}

/* central text decoretion and position */
.hero{
    margin-top: 182.5px;
    display: flex;
}

.textBoxFirstSection{
    width: 50%;
    color: white;

}

.title h1{
    font-size: 3.5rem;
    line-height: 70px;
}

.subTitle{
    margin-top: 30px;
    font-size: 1.5rem;
}

.bigPrinter{
    height: 500px;
    float: right;
}

.imageSpot{
    margin-top: -40px;
    width: 50%;
    margin-right: 0%;
}

.Secondhero a{
    position: relative;
    display: flex;
    width: max-content;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    transition: background-color 0.5s ease;
}

.Secondhero a:hover{
    cursor: pointer;
    background-color: #cdcdcd;
}

.half-arrow, .full-arrow{
    right: 9px;
}

.half-arrow{
    position: absolute;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s;
}

.full-arrow{
    position: absolute;
    opacity: 0;
    transform: translateX(0);
    transition: all 0.3s;
}

.display-none .half-arrow{
    transform: translateX(8px);
    opacity: 0;
}

.display-none .full-arrow{
    transform: translateX(2px);
    opacity: 1;
}

.Secondhero a span{
    width: 25px;
}

/* Second section */

.secondSection{
    margin-top: 10px;
    width: 100%;
    height: 100vh;
}

.materialContainer{
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 100px;
}

.materialContainerText{
    grid-row: 1;
    grid-column: 1;
}

.materialContainerBoxesContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row: 1/2;
    grid-column: 2;
    gap: 25px;
}

.firstBoxContainer{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 25px;
}

.secondBoxContainer{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 25px;
}


.firstBoxContainer a, .secondBoxContainer div a{
    display: flex;
    width: 105px;
    height: 105px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.0rem;
    color: white;
    border-radius: 15px;
    border: 2px solid white;
    padding: 10px;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.firstBoxContainer a:hover, .secondBoxContainer div a:hover{
    background-color: white;
    color: black;
    transform: scale(1.15);
}

.materialContainerText{
    position: relative;
    display: grid;
    gap: 50px;
}

.materialContainerText h1{
    position: absolute;
    top: -50px;
    color: white;
    font-size: 3.5rem;
    line-height: 70px;
}

.materialContainerText p{
    position: absolute;
    bottom: 50px;
    color: rgb(196, 193, 193);
    line-height: 30px;
    font-size: 1.2rem;
}


/* footer */

.footer{
    width: 100%;
    height: 35vh;
    background: rgb(48, 48, 48, 0.8);
    bottom: 0;
    display: flex;
    padding: 5% 20% 0;
    justify-content: space-between;
    color: white;
}

.footer li a{
    text-decoration: none;
    color: rgb(177, 177, 177);
}

.proToProLink{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: bold;
}

.footer h1{
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 450;
}

.footer li{
    list-style: none;
    line-height: 25px;
}

.footer a{
    transition: all 0.5s;
}

.footer a:hover{
    color: rgb(177, 177, 177, 0.7);
}

.hidden{
    opacity: 0;
    transition: all 1.5s;
    transform: translateY(50%);
    filter: blur(3px);
    transition: top 0.3s ease-in-out;
}

.show{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}



